<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Contact Us!</h1>
        </div>
</div>

<!-- Card deck -->
<div class="card-deck">
    <!-- Card -->
    <div class="card testimonial-card">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
      
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="assets/img/acr.jpg" class="rounded-circle" alt="woman avatar">
        </div>
      
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Aitor Corchero</h4>
          <h5>Researcher</h5>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-envelope"></i> <a href="mailto:aitor.corchero@eurecat.org?Subject=[Rioter-Proyect] Contact us">aitor.corchero@eurecat.org</a></p>
          <p><i class="fab fa-linkedin"></i><a href="https://twitter.com/ac_olite"> @ac_olite</a></p>
          <p><i class="fab fa-twitter-square"></i> <a href="https://www.linkedin.com/in/aitorcorchero">aitorcorchero</a></p>
        </div>
      
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card testimonial-card">
            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>
          
            <!-- Avatar -->
            <div class="avatar mx-auto white">
              <img src="assets/img/xd.jpg" class="rounded-circle" alt="woman avatar">
            </div>
          
            <!-- Content -->
            <div class="card-body">
              <!-- Name -->
              <h4 class="card-title">Xavier Domingo</h4>
              <h5>Research line manager</h5>
              <hr>
              <!-- Quotation -->
              <p><i class="fas fa-envelope"></i> <a href="mailto:xavier.domingo@eurecat.org?Subject=[Rioter-Proyect] Contact us">xavier.domingo@eurecat.org</a></p>
              <p><i class="fab fa-linkedin"></i><a href="https://twitter.com/xavidomingo"> @xdomingo</a></p>
              <p><i class="fab fa-twitter-square"></i> <a href="https://www.linkedin.com/in/xdomingo">xdomingo</a></p>
            </div>
          
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card testimonial-card">
            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>
          
            <!-- Avatar -->
            <div class="avatar mx-auto white">
              <img src="assets/img/pitu.jpg" class="rounded-circle" alt="woman avatar">
            </div>
          
            <!-- Content -->
            <div class="card-body">
              <!-- Name -->
              <h4 class="card-title">Lluis Echeverria</h4>
              <h5>Researcher</h5>
              <hr>
              <!-- Quotation -->
              <p><i class="fas fa-envelope"></i> <a href="mailto:lluis.echeverria@eurecat.org?Subject=[Rioter-Proyect] Contact us">lluis.echeverria@eurecat.org</a></p>
              <p><i class="fab fa-linkedin"></i><a href="https://twitter.com/EcheverriaLluis"> @EcheverriaLluis</a></p>
              <p><i class="fab fa-twitter-square"></i> <a href="https://www.linkedin.com/in/lluis-echeverria-69a34a82">lluis-echeverria-69a34a82</a></p>
            </div>
          
        </div>
        <!-- Card -->
</div>
<br>
<!--End Card Deck-->