<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Water Nexus Ontologies Catalogue</h1>
      <p class="lead"> Explore water and related domains ontologies </p>
    </div>
</div>
<div>

        <table align="center" class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">License</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Domain</th>
                    <th scope="col"> Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Title 1</td>
                    <td>License 1</td>
                    <td>Authors 1</td>
                    <td>Domain 1</td>
                    <td>Description 1</td>
                  </tr>
                  
                </tbody>
              </table>
</div>