<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Water Nexus Ontologies Catalogue</h1>
      <p class="lead"> Explore water and related domains ontologies </p>
    </div>
</div>
<div>
      
        <table align="center" class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"><b>Title</b></th>
                    <th scope="col"><b>Serialization</b></th>
                    <th scope="col"><b>License</b></th>
                    <th scope="col"><b>Authors</b></th>
                    <th scope="col"><b>Domain</b></th>
                    <th scope="col"><b>Description</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="linkOnt(ont.id)" *ngFor="let ont of ontologies">
                    <td><h6>{{ont.title}}</h6></td>
                    <td>
                      <span *ngFor="let lang of ont.serialization" class = "badge badge-pill badge-primary">{{lang}}</span>
                    </td>
                    <td>{{ont.license}}</td>
                    <td>
                      <span *ngFor="let author of ont.authors" class="badge badge-light">{{author}}</span>
                    </td>
                    <td>
                      <span *ngFor="let domain of ont.domain" class="badge badge-pill badge-success">{{domain}}</span>
                    </td>
                    <td>{{ont.description}}</td>
                  </tr>
                  
                </tbody>
              </table>
</div>